{
  "session_timeout_hours": 24,
  "max_sessions_per_user": 5,
  "require_strong_passwords": false,
  "allow_registration": true,
  "default_role": "pm",
  "enable_guest_mode": true,
  "secret_key": "REPLACE_WITH_RANDOM_SECRET_KEY_GENERATED_AT_RUNTIME"
}